{% extends 'shop/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <h1 class="title">Create an account</h1>
  <form method="post">
    {% csrf_token %}
    <div class="field">
      <label class="label">Username</label>
      <div class="control"><input class="input" name="username" required></div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control"><input class="input" name="email" type="email"></div>
    </div>
    <div class="field">
      <label class="label">Contact number</label>
      <div class="control"><input class="input" name="contact_number" required></div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control"><input class="input" name="password" type="password" required></div>
    </div>
    <div class="field">
      <label class="label">Confirm password</label>
      <div class="control"><input class="input" name="password2" type="password" required></div>
    </div>
    <div class="control">
      <button class="button is-primary" type="submit">Create account</button>
    </div>
  </form>
{% endblock %}